.containerFavorites {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    margin-top: 5vw;

 
}

.divCardsFavorites {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3vw;
    grid-auto-rows: minmax(10vw, auto);
    justify-items: center;



}


.divCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;

    background-color: white;

    border-radius: 10px;
    box-shadow: 5px 3px 15px 10px rgb(246, 136, 9);
    width: 18vw;
    height: 48vh;
    text-align: center;
    transition: 700ms;

    opacity: 0.7;
    margin-top: 100px;

}

.divCard:hover {
    opacity: 1;
    transition: 700ms;

    box-shadow: 5px 3px 15px 10px rgb(8, 194, 8);
    animation-name: logoAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}



@keyframes logoAnimation {
    0% {
        transform: scale(1) rotateZ(0deg);

    }

    50% {
        transform: scale(1.2) rotateZ(0deg);

    }

    100% {
        transform: scale(1) rotateZ(0deg);

    }
}

.imgFavorite {

    height: 70%;
    width: 16vw;
    border-radius: 20px;
    align-self: center;
    box-shadow: 2px 2px 20px 2px black;
}

.nameCharactertext {
    color: white;
    opacity: 0.7;
    background-color: rgb(246, 136, 9);
    font-size: 1.3vw;
    border-radius: 10px;
    padding: 0.2vw;
    margin-top: 2vw;
    font-size: 1vw;
    font-weight: bold;
    text-decoration: underline;


}

.nameCharactertext:hover {
    opacity: 1;
    color: rgb(246, 136, 9);
    background-color: rgb(8, 194, 8);
    transition: 200ms;
    font-weight: bold;
}

.speciesCharactertext {

    position: relative;
    bottom: -.7vw;
    right: 5vw;
    color: rgb(246, 136, 9);
    font-style: italic;

    justify-content: flex-end;
    font-size: 1.2vw;
    font-weight: bold;
}

.genderCharactertext {
    font-size: 1.2vw;
    position: relative;
    top: -.9vw;
    left: 5vw;
    color: rgb(246, 136, 9);
    font-style: italic;
    font-weight: bold;
}

.idCharacterText {
    font-weight: bolder;
    color: rgb(8, 194, 8);
}