.divDetail {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3vw;


}


.divDetailtext {
    display: flex;
    flex-direction: column nowrap;
    color: white;

    width: 40vw;
    height: auto;
    justify-content: flex-start;
    background-color: white;
    background-size: auto;
    border-radius: 50px;
    box-shadow: 1px 1px 20px 10px rgb(246, 136, 9);
    opacity: .7;


}

.divDetailtext:hover {

    opacity: 1;
    transition: 700ms;
    text-shadow: 0.3em 0.2em .5em black;
    box-shadow: 5px 3px 20px 10px rgb(8, 194, 8);
}

.divDetailImage {
    height: 20vw;
    width: 20vw;
    border-radius: 10px;
    opacity: .7;
    box-shadow: 1px 1px 20px 10px rgb(246, 136, 9);
    margin-top: 20px;


}

.divDetailImage:hover {
    box-shadow: 5px 3px 20px 10px rgb(8, 194, 8);
    transition: 500ms;
    opacity: 1;
    height: 35vw;
    width: 35vw;
    transition: 700ms;
}

.img {
    height: 20vw;
    width: 20vw;
    border-radius: 10px;



}

.img:hover {
    height: 35vw;
    width: 35vw;
    transition: 700ms;
}

.h3Info {
    color: rgb(8, 194, 8);
    opacity: 0.7;


    box-shadow: 1px 2px 10px 1px white;
    width: auto;
    height: auto;
    font-size: 40px;
    opacity: 1;
}

.label {
    color: rgb(246, 136, 9);

}