.containerDetail {
    display: flex;
    flex-direction: column ;
    align-content: space-between;
    align-items: center;
    margin-top: 7vw;
size: 10vw;
 
   




}

.containerDetailtext{
  
    display: flex;
    flex-direction: row;
    width: 98vw;
    justify-content: space-around;

}


.divDetailtext {
    display: flex;
    flex-direction: column wrap;
    color: white;

    width: 30vw;
    height: 30vw;
    justify-content: flex-start;
    background-color: white;
    background-size: auto;
    border-radius: 50px;
    box-shadow: 1px 1px 20px 10px rgb(246, 136, 9);
    opacity: .5;


}

.divDetailtext:hover {

    opacity: .7;
    transition: 700ms;
    text-shadow: 0.1em 0.2em .1em black;
    box-shadow: 5px 3px 20px 10px rgb(8, 194, 8);
    width: 35vw;
        height: 35vw;
}

.divDetailImage {
  
    border-radius: 10px;
    opacity: .7;
    box-shadow: 1px 1px 20px 10px rgb(246, 136, 9);
height: 15vw;
    width: 15vw;



}

.divDetailImage:hover {
    box-shadow: 5px 3px 20px 10px rgb(8, 194, 8);
    transition: 500ms;
    opacity: 1;
height: 20vw;
    width: 20vw;
    transition: 700ms;
}

.img {
height: 15vw;
    width: 15vw;
    border-radius: 10px;
filter: blur(10px);


/* animation-name: logoAnimation;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out; */

}

/* .divDetailtext::after{
    width: 30vw;
    height: 30vw;
    z-index: 4;
    background-color: red;
    position: absolute;
    content: "";
    opacity: .5;
} */

.img:hover {
    height: 20vw;
        width: 20vw;
    transition: 700ms;
filter: blur(0px);
    

}

.h3Info {
    color: rgb(8, 194, 8);
    opacity: 0.7;


    box-shadow: 1px 2px 10px 1px white;
    width: 40vw;

    font-size: 2vw;
    opacity: 1;
}
.h3Info:hover {


    font-size: 2.2vw;
   
}

.label {
    color: rgb(246, 136, 9);

}

.links {
    color: rgb(8, 194, 8);
    opacity: 0.7;
    font-size: 1.9vw;
    text-decoration: none;

}
/* 
@keyframes logoAnimation {
    0% {
        transform: scale(1) rotateZ(0deg);
        filter: blur(1px) drop-shadow(0px 0px 0px red) brightness(0.7);
    }

    50% {
        transform: scale(1.2) rotateZ(3deg);
        filter: blur(0px) drop-shadow(16px 16px 20px rgb(83, 162, 247)) brightness(1.6);
    }

    100% {
        transform: scale(1) rotateZ(0deg);
        filter: blur(1px) drop-shadow(0px 0px 0px red) brightness(0.7);
    }
} */