.divCard {
    position: relative;
    display: inline-block;
    text-align: center;


    background-color: white;

    border-radius: 10px;
    box-shadow: 5px 3px 15px 10px rgb(246, 136, 9);
    width: 18vw;
    height: 48vh;
    text-align: center;
    background-size: cover;
    background-position: center;
    opacity: .6;
    margin-top: 5vw;
    position: relative;
    transition: 700ms;


}


.divCard:hover {
    opacity: 1;
    transition: 700ms;

    box-shadow: 5px 3px 15px 10px rgb(8, 194, 8);

}

.imgCard {

    height: 70%;
    width: 16vw;
    border-radius: 20px;
    align-self: center;
    box-shadow: 2px 2px 20px 2px black;
    margin-top: 20px;
}






.firstText {

    color: white;
    ;
    opacity: 1;
    background-color: rgb(246, 136, 9);
    font-size: 1.2vw;
    position: absolute;
    top: 16vw;
    font-size: 1vw;
    left: .8vw;
    text-decoration: underline;
    align-content: center;
    border-radius: 25px;
    padding: 0.2vw;


}

.firstText:hover {
    opacity: 1;
    color: rgb(246, 136, 9);
    background-color: rgb(8, 194, 8);
    transition: 200ms;

    text-decoration: none;
}

.secondText {

    position: relative;

    right: 5vw;
    color: rgb(246, 136, 9);
    ;
    font-style: italic;

    justify-content: flex-end;
    font-size: 1.2vw;
    font-weight: bold;
}

.thirdText {
    font-size: 1.2vw;
    position: relative;
    bottom: 2.5vw;
    left: 5vw;
    color: rgb(246, 136, 9);
    ;
    font-style: italic;
    font-weight: bold;
}

.idCharacterText{
        color:rgb(8, 194, 8);
    font-weight: bolder;
    bottom: 26.5vw;
    position: relative;
font-size: 1.2vw;
    width: 5vw;
    left: 6.5vw;
}

.buttonClose {
    color: white;

    align-items: center;
    background-color: red;
    position: absolute;

    left: 15vw;
    top: .6vw;
    border-radius: 5px;

}

.buttonClose:hover {
    box-shadow: 1px 1px 1px 2px black;

    transition: 200ms;


}

.buttonFav {


    font-size: 1.3vw;
    background-color: transparent;
    position: relative;
    border: transparent;
    right: 7vw;
    top: .5vw;


}

.buttonFav:hover {

    box-shadow: 2px 2px 2px 2px black;
    border-radius: 50%;
    transition: 400ms;

}